

body{
	width: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	margin-left: 0px;
}
ul.unstyled {
	list-style: none;
	padding: 10px;
	
}

 /*navbar styling*/

.bn{
	display: inline;
	background: black;
	border:none;
	margin-top: 6px;
}

.navbar-brand {
	padding: 13px 15px;
}

.cont{
	background: Black;
	
}
.navl{
	padding-left: 100px;
	color:White;
	
}

.navl li{padding-left:10px;}
.collapse{
	margin-top: 30px;
}

/*--------------------------------------------------------------------*/
/*Carousel Items*/
#myCarousel {

margin-top: 80px;
background: White;


}

.sec{
	margin-top: 20px;
	;
}
#Callout{
	margin-top: 30px;

	
}
.tit{
  margin-left: 0px;
}
/* Courses (Thumbnails) Styling*/
.course{
	margin-top: 20px;
	outline-offset: 1px;
	text-align: left;
}

.course1{
	margin-top: 20px;
   outline-offset: 0px;
}

/*--------------------------------------------------------------------*/
/*Form Styling*/
.form1{
	margin-left:  10px;
}
/*--------------------------------------------------------------------*/
/*Tabbable content styling*/
#moreInfo{
	margin-left:  10px;
}
/*--------------------------------------------------------------------*/
/*Footer Styling*/
footer {
	background: black;
	width: 100%;
	color: white;
	font-size: 11px;
	padding: 0px;
	
}

 .foo li a{
    color: white !important;
  

 }

